body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation-name: backgroundColorPalette;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
  0% {
    background: #fff000;
  }
  25% {
    background: #d45fff;
  }
  50% {
    background: #5fff9b;
  }
  75% {
    background: #04399a;
  }
  100% {
    background: #ff5f90;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
