@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Merriweather:wght@400;700&display=swap");

.header {
  text-align: center;
  color: beige;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}
