@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap");

.header {
  text-align: center;
  color: beige;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  font-family: "Abril Fatface", sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

.bottomLink {
  text-align: center;
  color: beige;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.secondBottomLink {
  text-align: center;
  color: beige;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.githubLink {
  text-align: center;
  color: beige;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.githubLink:hover {
  color: #c6f2f7;
  border: 1px solid beige;
  border-radius: 5px;
  text-decoration: none;
}

.message {
  font-family: "Montserrat", sans-serif;
  color: beige;
  font-weight: 500;
  text-align: center;
  font-size: 1.2em;
}
