@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap");

.header {
  text-align: center;
  color: beige;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  font-family: "Abril Fatface", sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

.bottomLink {
  text-align: center;
  color: black;
}

.githubLink {
  text-align: center;
  color: #2d00f7;
  font-family: "Abril Fatface", sans-serif;
}
